body{
    background-color: rgb(0, 0, 0);
    background-image: url('../resources/elegant-black-background-with-golden-line-and-lighting-effect-luxury-template-award-modern-design-vector.jpg');
    background-size: auto ;
    background-repeat: no-repeat, no-repeat;
}