*{
    margin: 0px;
    padding: 0px;
    font-family: "Aclonica", sans-serif;
    
}
.btnvolver{
    width: 90px;
    height: 45px;
    background-color: #9a9eb3;
    border-radius: 10%;
}

img{
    width: 160px;
}
.pagenp{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 2fr 1fr 4fr 1fr;
    grid-template-areas: "header header"
    "form menu" 
    "body menu" 
    "footer menu";
}
.pagenp .headerNP{
    background-color: #808080;
    grid-area: header;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-left: 40%;
}

.pagenp .nuevosPlatos{
    background-color: #c8c8c8;
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.pagenp .bodyNP{
    background-color: #fff;
    grid-area: body;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 500px;
}
.pagenp .bodyNP .tituloPlato{
    width: 100%;
    text-align: center;
}
.producto{
    width: 250px;
    border: 1px solid #000;
    border-radius: 16px;
    margin: 16px;
    padding: 8px;
}

.producto:hover{
    border-color: #273c99 ;
}

.producto:hover .descripcion{
    display: block;
    border-color: #273c99 ;
}

.pagenp .footerNP{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
    background-color: #4b4b4b;
   
}

